
.nav-bar{
    /*padding-left: 500px;*/
    font-size: 18px;
    background-color: #ca3926;
    line-height: 2.5;
    margin-bottom: 10px;
    margin-top: 50px;
}

.nav-bar-btn{
    display: flex;
    margin: 0% 0% 0% 40%;
    list-style: none;

}
.btn{
    a{
        font-weight: bold;
        text-decoration: none;
        padding: 10px;
        font-size: 20px;
        margin-right: 120px;
        color: black;
    }
}
.btn :hover{
    color: #fff;
    font-weight: bold;
    transition-duration: 0.2s;
}
